<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_file.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @user_file.desc %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to @user_file.file.filename, rails_blob_path(@user_file.file, disposition: :attachment) %>
</p>

<%= link_to 'Edit', edit_user_file_path(@user_file) %> |
<%= link_to 'Back', user_files_path %>
